[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "nginx -g 'daemon off;' -c /app/nginx.conf"

[static]
directory = "dist"
